@charset "UTF-8";


/* ---------- Mobile view ---------- */

@media (max-width: 1025px) {
	.modal-dialog {
		transition: all 0.25s ease-out;
	}
}

@media (max-width: 650px) {
	.modal-versionDownload {
		padding: 10px;
	}

	.modal-versionDownload-text {
		display: none;
	}
}

@media (max-width: 1000px) {
	h1 {
		font-size: 38px;
	}

	h2 {
		font-size: 14px;
	}

	h3 {
		font-size: 26px;
	}

	.modal-dialog {
		width: 100%;
		margin: 0px;
		padding: 16px;
	}

	.modal-content {
		min-height: calc(100vh - 2rem);
	}

	#feature {
		height: 50px;
		z-index: 10;
		top: 0px;
		display: flex;
		flex-direction: column;
	}

	#featureBar {
		height: 80px;
	}

	.featureBar-link {
		display: none;
	    height: 60px;
		margin: 5px;
		margin-left: auto;
	}

	.featureBar-twitter {
	    height: 60px;
		margin: 10px;
		margin-left: auto;
	}

	.featureText {
		margin-top: 70px;
	}

	#featureContent {
		height: 300px;
	}

	#featureContent-video {
		height: 325px;
		min-width: 80rem;
		top: 25px;
	}

	.characterCard {
		padding: 0px;
	}

	.characterCard-image {
		width: 10rem;
		height: 10rem;
		border-radius: 0.75rem 0 0 0;
	}

	.characterCard-body {
		flex-direction: row;
		width: 100%;
	}

	.characterCard-title {
		margin: 8px 12px 0 12px;
	}

	.characterCard-subtitle {
		margin: 0 12px 12px 12px;
	}

	.characterCard-button {
		margin: 0px;
		border-radius: 0 0 0.75rem 0.75rem;
	}

	.container,
	.container-fluid {
		width: 100%;
	}

	.column2 {
		width: 100%;
	}

	.column3 {
		width: 100%;
	}

	.column4 {
		width: 100%;
	}

	.column2-paragraph {
		width: 100%;
	}

	.column2-media {
		width: 0%;
	}

	.section {
		padding-top: 3rem;
		padding-bottom: 1rem;
	}
}

@media (min-width: 1000.01px) and (max-width: 1420px) {
	.container,
	.container-fluid {
		width: 1000px;
	}

	.column2 {
		width: 50%;
	}

	.column3 {
		width: 100%;
	}

	.column4 {
		width: 33.33%;
	}

	.column2-paragraph {
		width: 50%;
	}

	.column2-media {
		width: 50%;
	}
}
