@charset "UTF-8";


/* ---------- Mobile view ---------- */

@media (max-width: 699.99px) {
    .container {
        max-width: 500px;
    }

	.column-blog {
		flex: 0 0 auto;
        width: 100%;
	}

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column1-about {
        flex: 0 0 auto;
        width: 100%;
		margin-left: 0%;
		margin-right: 0%;
    }

	.column2 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column2-60 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column2-40 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column2-wiki1 {
        flex: 0 0 auto;
        width: 0px;
		display: none;
    }

	.column2-wiki2 {
        flex: 0 0 auto;
        width: 100%;
    }

    .column3 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 100%;
	}

	.column4-block {
		width: 8rem;
		height: 8rem;
        border-radius: 1rem;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 50%;
	}

	.column-sketches {
		display: flex;
		justify-content: center;
	    flex: 0 0 auto;
		margin: 4px;
	    width: 100%;
	}
}


/* ---------- Tablet view ---------- */

@media (min-width: 700px) {
    .container {
        max-width: 700px;
    }

	.column-blog {
		flex: 0 0 auto;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
        width: 50%;
	}

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column1-about {
        flex: 0 0 auto;
        width: 60%;
		margin-left: 20%;
		margin-right: 20%;
    }

    .column2 {
        flex: 0 0 auto;
        width: 50%;
    }

	.column2-60 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column2-40 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column2-wiki1 {
        flex: 0 0 auto;
        width: 250px;
		display: block;
    }

	.column2-wiki2 {
        flex: 0 0 auto;
        width: auto;
    }

    .column3 {
        flex: 0 0 auto;
        width: 50%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 50%;
	}

	.column4-block {
		width: 11rem;
		height: 11rem;
        border-radius: 1rem;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 33.33%;
	}

	.column-sketches {
	    flex: 0 0 auto;
	    width: 33%;
	}
}


/* ---------- Desktop view ---------- */

@media (min-width: 1420px) {
    .container {
        max-width: 1420px;
    }

    .column1 {
        flex: 0 0 auto;
        width: 100%;
    }

	.column1-about {
        flex: 0 0 auto;
        width: 60%;
		margin-left: 20%;
		margin-right: 20%;
    }

    .column2 {
        flex: 0 0 auto;
        width: 50%;
    }

	.column2-60 {
        flex: 0 0 auto;
        width: 60%;
		padding-right: 2rem;
    }

	.column2-40 {
        flex: 0 0 auto;
        width: 40%;
		padding-right: 2rem;
    }

	.column2-25 {
        flex: 0 0 auto;
        width: 25%;
		padding-right: 2rem;
    }

	.column2-wiki1 {
        flex: 0 0 auto;
        width: 250px;
		display: block;
		padding-right: 2rem;
    }

	.column2-wiki2 {
        flex: 0 0 auto;
        width: auto;
		padding-right: 2rem;
    }

	.columnCyberthugA {
	    flex: 0 0 auto;
	    width: 30%;
	}

    .columnCyberthugA-image {
        width: 24rem;
        height: 24rem;
        border-radius: 1.5rem;
    }

	.columnCyberthugB {
	    flex: 0 0 auto;
	    width: 70%;
        margin-top: 0rem;
	}

    .column3 {
        flex: 0 0 auto;
        width: 33.33%;
    }

	.column4 {
	    flex: 0 0 auto;
	    width: 25%;
	}

	.column5 {
	    flex: 0 0 auto;
	    width: 20%;
	}

	.column4-block {
		width: 13rem;
		height: 13rem;
        border-radius: 1rem;
	}

	.column-sketches {
	    flex: 0 0 auto;
	    width: 16.66%;
	}
}


/* ---------- Mobile navigation bar ---------- */
@media (max-width: 1189.99px) {
	.navbarLinksDivider {
		display: none;
	}

	.navbarLinks-other {
		display: none;
		width: 48px !important;
	}

	.navbarLinks-active {
		display: none;
		width: 48px !important;
	}

	.navbarLinks-text {
		display: none;
		opacity: 0%;
	}

	.socialMediaNavbar {
		display: none;
	}
}

/* ---------- Desktop navigation bar ---------- */
@media (min-width: 1190px) {
	.navbarLinks {
		display: inherit !important;
	}

	.navbarLinksDivider {
		display: inherit;
	}

	.socialMediaNavbar {
		display: inherit;
	}
}

/* ---------- Narrow modal ---------- */
@media (min-width: 840px) {
	.newmodal-section1 {
		border-radius: 1.5rem 1.5rem 0 0;
	}

	.newmodal-section2 {
		border-radius: 0 0 1.5rem 1.5rem;
	}

	.modal-dialog {
		max-width: 800px;
		margin-left: calc(50vw - 400px);
		display: block;
		flex-direction: column;
	}

	.modal-container {
		flex-direction: column;
	}
}

/* ---------- Really narrow modal ---------- */
@media (max-width: 839.99px) {
	.newmodal-section1 {
		width: inherit;
	}

	.newmodal-section2 {
		width: inherit;
	}

	.newmodal-images {
		background-color: #00000000;
	}

	.newmodal-images-feature {
		border-radius: 1rem;
	}

	.newmodal-images-gallery {
		display: none;
	}

	.modal-dialog {
		width: calc(100vw - 20px);
		margin-left: 0;
		padding: 8px !important;
		margin: 10px !important;
		display: block;
		flex-direction: column;
	}

	.modal {
		width: 100%;
	}
}
