@charset "UTF-8";


/* ---------- Root elements ---------- */

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
	font-weight: 400;
	color: #505050;
}

body {
    opacity: 100%;
	overflow-x: hidden;
    margin: 0;
    min-width: 360px;
    background-color: #e0e0e0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	height: 100%;
	scroll-padding-top: calc(4.5rem - 1px);
}

a {
    color: inherit;
    text-decoration: none;
}

iframe {
	border: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
    user-select: none;
    pointer-events: none;
}

span {
	color: #505050;
}

h1 {
	margin: 0;
	font-size: 64px;
}

h2 {
	margin: 0;
	font-size: 20px;
}

h3 {
	margin: 0;
	font-size: 32px;
}

h4 {
	margin: 0;
	font-size: 24px;
}

h5 {
	margin: 0;
	font-size: 16px;
}

::selection {
    background: #cdba5760;
}

.container,
.container-fluid {
	width: 1420px;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -.10);
	margin-left: calc(var(--bs-gutter-x) * -.10);
}


/* ---------- Colours ---------- */

.txt-white {
	color: #ffffff;
}

.txt-grey {
	color: #909090;
}

.txt-black {
	color: #202020;
}


/* ---------- Feature ---------- */

#feature {
	height: 110px;
	z-index: 10;
	top: 0px;
	display: flex;
	flex-direction: column;
}

#featureBar {
	height: 110px;
	z-index: 10;
    transition: all 0.1s ease-out;
	display: flex;
}

.featureBar-link {
    height: 60px;
	margin: 25px;
	padding: 12px 18px 12px 18px;
	line-height: 36px;
	border-radius: 1rem;
	background-color: #ffe10000;
    user-select: none;
	opacity: 0.5;
	margin-left: auto;
	color: #ffffff;
    transition: all 0.1s ease-out;
	display: flex;
}

.featureBar-link:hover {
	opacity: 1;
	background-color: #ffe10040;
}

.featureBar-twitter {
    width: 60px;
    height: 60px;
	margin: 25px;
	margin-left: 0px;
	padding: 12px;
	border-radius: 1rem;
	background-color: #ffe10000;
    user-select: none;
	opacity: 0.5;
    transition: all 0.1s ease-out;
	display: flex;
}

.featureBar-twitter:hover {
	opacity: 1;
	background-color: #ffe10040;
}

.featureText {
	text-shadow: 0rem 0.1rem 0.4rem #000000d0;
	z-index: 10;
	margin-top: 150px;
	text-align: center;
	width: 100%;
	height: 640px;
}

.featureText1 {
	color: #ffffff;
}

.featureText2 {
	color: #ffffff;
	letter-spacing: 0.25px;
	padding-left: 2rem;
	padding-right: 2rem;
}

#featureContent {
	width: 100vw;
	height: 550px;
	z-index: -1;
	position: sticky;
	top: 110px;
	display: flex;
	flex-direction: column;
}

#featureContent-video {
	width: 100vw;
	min-width: 150rem;
	align-self: center;
	height: 650px;
	position: absolute;
	overflow: hidden;
	filter: blur(8px);
	transform: scaleX(1.2) scaleY(1.5);
	background-color: #303030;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}





















.divider {
	background-color: #c8c8c8;
	height: 1px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.section {
	padding-top: 7rem;
	padding-bottom: 4rem;
	background-color: #e0e0e0;
}

.sectionHeading {
	margin-bottom: 12px;
	color: #000000;
	font-weight: 650;
}

.bodySVG {
	height: 32px;
	margin-right: 8px;
}

.bodyImage {
	margin: 0;
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.characterCard {
	padding-bottom: 8px;
	background-color: #ffffff;
	border-radius: 0.75rem;
	box-shadow: 0rem 0.1rem 0.2rem #00000020;
}

.characterCard-image {
	width: 100%;
	height: auto;
	border-radius: 0.75rem 0.75rem 0 0;
}

.characterCard-body {
	display: flex;
	flex-direction: column;
}

.characterCard-description {
	width: 100%;
}

.characterCard-title {
	font-weight: 500;
	margin: 8px 8px 0 8px;
	color: #000000;
}

.characterCard-subtitle {
	height: 64px;
	margin: 0 8px 8px 8px;
	color: #707070;
}

.characterCard-button {
	margin-left: 8px;
	margin-right: 8px;
	height: 3.5rem;
	background-color: #f0f0f0;
	border-radius: 0.75rem;
	text-align: center;
	user-select: none;
	cursor: pointer;
	line-height: 3.5rem;
	color: #404040;
	transition: 0.1s ease-out;
}

.characterCard-button:hover {
	background-color: #e0e0e0;
}











.extraCard {
	padding-bottom: 8px;
	padding: 0px;
	background-color: #ffffff;
	border-radius: 0.75rem;
	box-shadow: 0rem 0.1rem 0.2rem #00000020;
}

.extraCard-image {
	background-color: #f0f0f0;
	width: 10rem;
	height: 10rem;
	border-radius: 0.75rem 0 0 0;
}

.extraCard-body {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.extraCard-description {
	width: 100%;
}

.extraCard-title {
	margin: 8px 12px 0 12px;
	color: #000000;
}

.extraCard-subtitle {
	height: 64px;
	margin: 0 12px 12px 12px;
	color: #707070;
}

.extraCard-button {
	margin: 0px;
	height: 3.5rem;
	background-color: #3a7dd7;
	border-radius: 0 0 0.75rem 0.75rem;
	text-align: center;
	user-select: none;
	cursor: pointer;
	line-height: 3.5rem;
	color: #404040;
	transition: 0.1s ease-out;
}

.extraCard-button:hover {
	background-color: #3068b0;
}





.column2 {
	width: 50%;
	padding: 8px;
	flex: 0 0 auto;
}

.column3 {
	width: 33.33%;
	padding: 8px;
	flex: 0 0 auto;
}

.column4 {
	width: 25%;
	padding: 8px;
	flex: 0 0 auto;
}

.column2-paragraph {
	width: 60%;
	padding-left: 8px;
	padding-right: 8px;
}

.column2-media {
	width: 40%;
	padding-left: 8px;
	padding-right: 8px;
}

.disabled {
	opacity: 50%;
	pointer-events: none;
	user-select: none;
}

.greyscale {
	filter: saturate(0);
}


/* ---------- Modal ---------- */

.modal-header {
	background-color: #e0e0e0;
	border-radius: 1rem 1rem 0 0;
	display: flex;
	width: 100%;
	height: 5rem;
}

.modal-title {
	color: #000000;
	font-size: 32px;
	font-weight: 650;
	width: calc(100% - 5rem);
	height: 5rem;
	display: flex;
	padding: 1rem;
}

.modal-close {
	width: 5rem;
	height: 5rem;
	padding: 1.5rem;
	transition: background-color 0.1s ease-out;
	cursor: pointer;
}

.modal-close:hover {
	border-radius: 0 1rem 0 0;
	background-color: #d0d0d0;
}

.modal-section {
	background-color: #f0f0f0;
	border-radius: 0 0 1rem 1rem;
	padding: 1rem;
	width: 100%;
}

.modal-versionName {
	height: 50px;
	padding: 3px;
	line-height: 22px;
	overflow: hidden;
	font-size: 1.25rem;
	font-weight: 500;
	color: #000000;
}

.modal-versionName1 {
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}

.modal-versionName2 {
	font-size: 16px;
	font-weight: 500;
	color: #000000;
}

.modal-versionDownload {
	height: 50px;
	padding: 11px 18px 11px 18px;
	border-radius: 12px;
	margin-left: auto;
	transition: all 0.1s ease-out;
	user-select: none;
	cursor: pointer;
	display: flex;
}

.modal-versionDownload:hover {
	background-color: #3470c130;
}

.modal-versionDownload-icon {
	height: 28px;
}

.modal-versionDownload-text {
	color: #3470c1;
	margin-left: 6px;
	font-size: 1.1rem;
	line-height: 28px;
	font-weight: 600;
	padding: auto;
	transition: all 0.1s ease-out;
}

.modal-versionChangelog {
	margin-left: 14px;
	margin-top: 16px;
	padding-bottom: 8px;
}
